@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Required Styles start */
.breadcrumbs {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &__ul {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        margin-left: 0;

        @include xl-min {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__li {
        display: flex;
        align-items: center;
        position: relative;
        column-gap: 1rem;
    }

    &__li:last-child:after {
        display: none;
    }

    &__li:after {
        content: "";
        width: 0.1rem;
        height: 0.1rem;
        padding: 2px;
        background-color: transparent;
        border: solid #555;
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    &__a {
        color: #1e85c3;
        text-decoration: none;
    }
}

/* Required Styles end */