@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* --------------- Main Nav: Start --------------- */
.main-nav {
    // z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;

    @include xl-min {
        position: initial;
        width: auto;
    }

    &__trigger-wrapper {
        text-align: right;
        position: absolute;
        bottom: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        right: 1rem;
    }

    &__ul {
        list-style: none;
        margin: 0;
        padding: 0;
        transition: all 0.35s ease;

        >.main-nav__item {
            @include xl-min {
                background-color: $brand-color1;

                &:hover {
                    background-color: $brand-color1-light-variation1;
                }
            }

            &:first-child {
                a {
                    padding-top: 1.15rem;

                    @include xl-min {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }

            &:last-child {
                // border-bottom: 1px solid red;

                @include xl-min {
                    // border-right: 1px solid #cdcdcd;
                    border-bottom: 0;
                }
            }
        }

        >.main-nav__item {
            .main-nav__submenu-content {
                @include xl-min {
                    box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, .09);
                    border-radius: .25rem;
                }

                &.offscreen {
                    right: 100%;
                    left: initial;
                }
            }

            >.main-nav__submenu-content.offscreen {
                right: 0;
                left: initial;
            }
        }
    }

    &__content {
        display: none;
        position: relative;

        @include xl-min {
            height: auto;
            align-items: stretch;
            flex-direction: row;
            display: flex !important;
            position: initial;

            >.main-nav__ul {
                display: flex;

                >li {
                    >a {
                        background: none;
                        font-size: 1rem;
                        height: 4.5rem;
                    }
                }

                @include xl-min {
                    position: static;
                    z-index: 1;
                }
            }
        }
    }

    &__item {
        border: 1px solid $light-gray1;
        border-left: none;
        border-right: none;
        border-bottom: none;
        position: relative;
        background-color: $light-gray3;



        @include xl-min {
            display: flex;
            align-items: stretch;
            position: initial;
            border-top: none;
            border: none;

        }

        @include xl-min {
            &:hover>.main-nav__submenu-content {
                opacity: 1;
                visibility: visible;
                position: absolute;
                transition: all 0.75s ease;
                display: initial;
            }
        }

        .down-arrow-icon {
            width: 3rem;
            height: 2.75rem;
            background: #e3e3e3;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            z-index: 1000;
            cursor: pointer;

            &::after {
                // content: "";
                // background-color: transparent;
                // border: solid #737070;
                // border-width: 0 2px 2px 0;
                // display: inline-block;
                // padding: 3px;
                // transform: rotate(45deg);
                // -webkit-transform: rotate(45deg);
                // position: relative;
                // top: -4px;

                content: " ";
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-top: 0;
                border-bottom: 6px solid $brand-color1;
                transform: rotate(180deg);
                position: relative;
                left: 0;

                @include xl-min {
                    // border-color: white;
                    border-bottom: 6px solid #fff;
                }
            }

            @include xl-min {
                position: relative;
                width: auto;
                top: 0.05rem;
                background: none;
                height: 100%;
                width: .75rem;
                right: .35rem;
            }
        }

        &.has-submenu {
            @include xl-min {
                padding-right: .5rem;
            }
        }

        &--active {
            background-color: $brand-color2 !important;
            border-top: 0;

            .main-nav__link {
                color: white;
            }
        }
    }

    &__link {
        padding-left: 1rem;
        padding-right: 1rem;
        transition: all 0.35s ease;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        flex-grow: 1;
        justify-content: space-between;
        display: flex;
        position: relative;
        color: #333;
        text-decoration: none;
        font-size: 1rem;

        @include xl-min {
            column-gap: 1rem;
            justify-content: space-between;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            flex-grow: 1;
            // background: none;
            color: white;
        }
    }

    &__trigger {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: relative;

        &.main-nav__trigger--active {
            .main-nav__trigger-item {
                @include transform-rotate(45);

                &::before {
                    transform: rotate(45deg) translate3d(3.71429px, 0px, 0);
                    opacity: 0;
                }

                &::after {
                    transform: translate3d(0px, -10px, 0) rotate(90deg);
                }
            }
        }
    }

    &__trigger-box {
        width: 45px;
        height: 40px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    &__trigger-item {
        display: block;
        top: 45%;
    }

    &__trigger-item {
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        z-index: 0;
        @include transition(transform, 0.35s, ease, 0s);

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: #fff;
            border-radius: 4px;
            position: absolute;
            z-index: 0;
            @include transition(transform, 0.35s, ease, 0s);
        }

        &::before {
            top: -.75rem;
        }

        &::after {
            bottom: -10px;
            top: .70rem;
        }
    }

    &__submenu-content {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 13rem;

        >.main-nav__item {
            &:last-child {

                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;

            }

            &:first-child {

                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;

            }

            >.main-nav__submenu-content {
                padding-top: 0.05rem;
            }
        }

        @include xl-min {
            margin-left: -1px;
            display: initial !important;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transition: all 0.35s ease;
            top: 100%;
            padding-top: 0.15rem;

            .down-arrow-icon {


                &::after {
                    border-bottom: 6px solid $brand-color1;
                }
            }

            .main-nav__link {
                padding: 1.10rem 1.25rem;
                color: #333;


            }

            .main-nav__item {
                display: flex;
                position: relative;
                justify-content: space-between;
                // border: 1px solid #cdcdcd;
                border-bottom: none;
                max-width: 17rem;
                line-height: 1.15;

                &:hover {
                    @include xl-min {
                        background-color: white;
                    }
                }

                &:last-child {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }

                &:first-child {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
            }

            .down-arrow-icon {
                position: relative;
                right: 0.7rem;
                top: 0;
                height: 100%;
                bottom: 0;
                margin: auto;
            }
        }

        .main-nav__submenu-content {
            left: 100%;
            top: 0;
            width: 100%;
            margin-left: 0;

            @include xl-min {
                margin-top: -1px;
                padding-left: 0.15rem;
            }
        }
    }

    @include xl-min {
        flex-basis: auto;
        height: 100%;
    }
}

/* --------------- Main Nav: End --------------- */