@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* --------------- Main Nav: Start --------------- */


.main-navigation {
    position: relative;

    &__ul {
        margin-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    &__li {}

    &__a {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 0.25rem 0.3rem;
        font-weight: 400;
        // transition: all ease-out 250ms;
        font-size: .9rem;
    }

    &__trigger {
        display: inline-flex;
        background: #dedede;
        padding: 0.5rem;
        border-radius: 0.25rem;
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 1rem;

        @include xl-min {
            display: none;
        }
    }

    &__submenu {
        list-style: none;
        margin-bottom: 0;
    }

    &__content {
        background: #fbfbfb;
        padding: 0.5rem;
        display: none;
        margin-left: -1rem;
        margin-right: -1rem;
        overflow-y: scroll;
        max-height: 27rem;

        @include xl-min {
            display: block !important;
        }
    }
}

.main-navigation li a.active {
    color: black;
    font-weight: 600;
}

/* Custom Scroll Bar */

/* width */
.main-navigation__content::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #fbfbfb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fbfbfb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}




/* --------------- Main Nav: End --------------- */