@use '../abstracts/mixins' as *;

/* Web Font: Start */


/* Web Font: End */

html {
    font-family: Arial, Helvetica, sans-serif;
}

// @for $i from 1 through 6 {
//     h#{$i} {
//         font-size: 2rem - ($i * .35rem);
//         margin-bottom: 1.5rem;
//         font-weight: 700;

//         @include sm-min {
//             font-size: 2rem - ($i * .20rem);
//         }

//         @include md-min {
//             font-size: 2rem - ($i * .05rem);
//             margin-bottom: 2rem;
//         }
//     }
// }
h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    // letter-spacing: -.06rem;

    @include md-min {
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
    }

}


h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    // letter-spacing: -.06rem;

    @include md-min {
        font-size: 1.9rem;
        margin-bottom: 1.5rem;
    }

}


h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    // letter-spacing: -.06rem;

    @include md-min {
        font-size: 1.35rem;
        margin-bottom: 1.5rem;
    }


}


h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    // letter-spacing: -.06rem;

    @include md-min {
        font-size: 1.05rem;
        margin-bottom: 1.5rem;
    }

}

h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    // letter-spacing: -.06rem;

    @include md-min {
        font-size: .87rem;
        margin-bottom: 1.5rem;
    }

}

h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    // letter-spacing: -.06rem;

    @include md-min {
        font-size: .83rem;
        margin-bottom: 1.5rem;
    }
}

p {
    margin-bottom: 1em;
    line-height: 1.35;
    font-weight: 400;
    font-size: .9rem;

    @include md-min {
        margin-bottom: 1.25rem;
    }
}

ul {
    font-size: .9rem;
}