/* Brand Colors: Start */
$brand-color1: indigo;
$brand-color1-light-variation1: #67339e;
$brand-color2: darkorange;
$brand-color2-light-variation1: #ffa200;
$brand-color2-light-variation2: #ffb300;
$brand-color3: #cecece;
/* Brand Colors: End */


/* Typography Colors: Start */
$heading-color: #333;
$paragraph-color: #333;
/* Typography Colors: End */


/* Media Queries: Start */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
/* Media Queries: End */


/* Border Radius: Start */
$border-radius: .25rem;
/* Border Radius: End */


/* Gray Backgrounds: Start */
$light-gray1: #e0e0e0;
$light-gray2: #f5f5f5;
$light-gray3: #f9f9f9;
/* Gray Backgrounds: End */